marsenv/
mars_weather_app/db.sqlite3
*/__pycache__/*
__pycache__/
*.py[cod]
__pycache__/
*.pyc
mars_weather_app/weather/__pycache__/
*post_images/
!media/test_images/
!media/test_images/test_image1.jpg

.env
*/allure-results/*
.coverage
report.html
notes.txt