{% extends 'weather/base.html' %}
{% block title %}{% endblock title %}
{% block content %}
<h1>Sol weather</h1>
<p>We use data from <a href="https://cab.inta-csic.es/">https://cab.inta-csic.es/</a>. They're awesome</p>

<form method="get" action="">
    <label for="sol_search">Search by Sol number:</label>
    <input type="number" id="sol_search" name="sol" value="{{ request.GET.sol }}">
    
    <label for="date_search">or by Terrestrial date:</label>
    <input type="date" id="date_search" name="terrestrial_date" value="{{ request.GET.terrestrial_date }}">
    
    <button type="submit">Search</button>
</form>

<form method="post" action="{% url 'weather:update_weather_data' %}">
    {% csrf_token %}
    <button type="submit">Update Weather Data</button>
</form>

{% if page_obj %}
    {% for sol in page_obj %}
        <a href="{{ sol.get_absolute_url }}">
            {{ sol.sol }}
        </a>
        <p>{{ sol.terrestrial_date }}</p>
    {% endfor %}
    {% if request.GET.sol or request.GET.terrestrial_date %}
        <a href="{% url 'weather:weather_list' %}"><button>Back to full list</button></a>
    {% endif %}
{% else %}
    <p>No results found for the given Sol number or Terrestrial date.</p>
    {% if request.GET.sol or request.GET.terrestrial_date %}
        <a href="{% url 'weather:weather_list' %}"><button>Back to full list</button></a>
    {% endif %}
{% endif %}

{% include 'pagination.html' with page=page_obj %}
{% endblock content %}