{% extends "weather/base.html" %}

{% block title %}Sol {{ sol.sol }}{% endblock title %}
{% block content %}
    <h1>Sol {{ sol.sol }}</h1>
    <p>Terrestrial date: {{ sol.terrestrial_date }}</p>
    <p>Season: {{ sol.season }}</p>
    <p>Min temperature: {{ sol.min_temp }}</p>
    <p>Max temperature: {{ sol.max_temp }}</p>
    <p>Sunrise: {{ sol.sunrise }}</p>
    <p>Sunset: {{ sol.sunset }}</p>
    <p>Pressure: {{ sol.pressure }}</p>
    <p>Pressure string: {{ sol.pressure_string }}</p>
    <p>Local UV irradiance index: {{ sol.local_uv_irradiance_index }}</p>


   
{% endblock content %}